<!-- Header -->
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<img src="{{url_for('static', filename='SDA_logo.jpg')}}" alt="SDA header" style="width:550px;height:70px;">

<br/>
<br/>
<br/>
<div class="content">
<div class="tabs">
  <div class="graytab">
    <div class="tab_left"></div>
    <div class="tab_text">
      East region</div>
    <div class="tab_right"></div>
  </div>
	<div class="graytab">
    <div class="tab_left"></div>
    <div class="tab_text">
      Central region</div>
    <div class="tab_right"></div>
  </div>
	<div class="graytab">
	  <div class="tab_left"></div>
	  <div class="tab_text">
		  West region</div>
	  <div class="tab_right"></div>
  </div>
  <div class="graytab">
		<div class="tab_left"></div>
		<div class="tab_text">
			Monitoring</div>
		<div class="tab_right"></div>
	</div>
  <div class="bluetab">
    <div class="tab_left"></div>
    <div class="tab_text">
      Stats</div>
    <div class="tab_right"></div>
  </div>
  <div class="graytab">
      <div class="tab_left"></div>
      <div class="tab_text">
        SPBNR</div>
      <div class="tab_right"></div>
    </div>
</div>
</div>
