<!-- Header -->

<div class="content">
<div class="tabs">
  <div class={% if Progress==0 %}"bluetab"{% else %}"graytab"{% endif %}>
    <div class="tab_left"></div>
    <div class="tab_text">
      General</div>
    <div class="tab_right"></div>
  </div>
	<div class={% if Progress==1 %}"bluetab"{% else %}"graytab"{% endif %}>
    <div class="tab_left"></div>
    <div class="tab_text">
      Cognitive</div>
    <div class="tab_right"></div>
  </div>
	<div class={% if Progress==2 %}"bluetab"{% else %}"graytab"{% endif %}>
	  <div class="tab_left"></div>
	  <div class="tab_text">
		  Role-related</div>
	  <div class="tab_right"></div>
  </div>
  <div class={% if Progress==3 %}"bluetab"{% else %}"graytab"{% endif %}>
		<div class="tab_left"></div>
		<div class="tab_text">
			Coolness</div>
		<div class="tab_right"></div>
	</div>
  <div class={% if Progress==4 %}"bluetab"{% else %}"graytab"{% endif %}>
    <div class="tab_left"></div>
    <div class="tab_text">
      Leadership Exp</div>
    <div class="tab_right"></div>
  </div>
</div>
</div>
