<!-- Header -->
<form name="submitForm" id="submitForm" method="POST" autocomplete="False">
</form>
<div class="content">
<div class="tabs">
  <div class={% if Progress==0 %}"bluetab"{% else %}"graytab"{% endif %}>
    <div class="tab_left"></div>
    <div class="tab_text">
      <a href="javascript:add_element('0');document.submitForm.submit();">General</a></div>
    <div class="tab_right"></div>
  </div>
	<div class={% if Progress==1 %}"bluetab"{% else %}"graytab"{% endif %}>
    <div class="tab_left"></div>
    <div class="tab_text">
      <a href="javascript:add_element('1');document.submitForm.submit();">Cognitive</a></div>
    <div class="tab_right"></div>
  </div>
	<div class={% if Progress==2 %}"bluetab"{% else %}"graytab"{% endif %}>
	  <div class="tab_left"></div>
	  <div class="tab_text">
		  <a href="javascript:add_element('2');document.submitForm.submit();">Role-related</a></div>
	  <div class="tab_right"></div>
  </div>
  <div class={% if Progress==3 %}"bluetab"{% else %}"graytab"{% endif %}>
		<div class="tab_left"></div>
		<div class="tab_text">
          <a href="javascript:add_element('3');document.submitForm.submit();">Coolness</a>
      </div>
		<div class="tab_right"></div>
	</div>
  <div class={% if Progress==4 %}"bluetab"{% else %}"graytab"{% endif %}>
    <div class="tab_left"></div>
    <div class="tab_text">
      <a href="javascript:add_element('4');document.submitForm.submit();">Leadership Exp</a></div>
    <div class="tab_right"></div>
  </div>
</div>
</div>
