<!DOCTYPE html>
<html>
{% include "headerlogo.html" %}
<hr>
<div class="w3-main" style="margin-left:50px">
<h4>{{sess['intervieweeFirstName']}} {{sess['intervieweeLastName']}}</h4>
interviewed on: {{sess['interviewDate']}}
{% if sess['commentGeneral']|length==0 %}
<p class="w3-text-red">No candidate with this name and date of interview found in our database.</p>
{% endif %}
  <div class="w3-row">
    <!-- Back button -->
    <form action="" method="post" autocomplete="off">
      <input type="submit" name='back_button' value="Back" style="margin-top:10px">
    </form>
    <div class="w3-half w3-container">
      <span class="w3-text-indigo w3-xlarge">General</span><span class="w3-medium"> score: {{sess['overallScorestat'][2]}}</span>
      {% for i in range(sess['commentGeneral']|length) %}
        <p>Comment{{i}}: {{sess['commentGeneral'][i]}}</p>
      {% endfor %}{% if sess['commentGeneral']|length==0 %}<br>{% endif %}
      <span class="w3-text-indigo w3-xlarge">Cognitive abilities</span><span class="w3-medium"> score: {{sess['cognitiveScorestat'][2]}}</span>
      {% for i in range(sess['commentCognitive']|length) %}
        <p>Comment{{i}}: {{sess['commentCognitive'][i]}}</p>
      {% endfor %}{% if sess['commentCognitive']|length==0 %}<br>{% endif %}
      <span class="w3-text-indigo w3-xlarge">Role-related knowledge</span><span class="w3-medium"> score: {{sess['rolerelatedScorestat'][2]}}</span>
      {% for i in range(sess['commentRoleRelated']|length) %}
        <p>Comment{{i}}: {{sess['commentRoleRelated'][i]}}</p>
      {% endfor %}{% if sess['commentRoleRelated']|length==0 %}<br>{% endif %}
    <hr>
    </div>
      <div class="w3-half w3-container">
      <span class="w3-text-indigo w3-xlarge">Coolness</span><span class="w3-medium"> score: {{sess['coolnessScorestat'][2]}}</span>
      {% for i in range(sess['commentCoolness']|length) %}
        <p>Comment{{i}}: {{sess['commentCoolness'][i]}}</p>
      {% endfor %}{% if sess['commentCoolness']|length==0 %}<br>{% endif %}
      <span class="w3-text-indigo w3-xlarge">Leadership</span><span class="w3-medium"> score: {{sess['leadershipScorestat'][2]}}</span>
      {% for i in range(sess['commentLeadership']|length) %}
        <p>Comment{{i}}: {{sess['commentLeadership'][i]}}</p>
      {% endfor %}{% if sess['commentLeadership']|length==0 %}<br>{% endif %}
      </div>
      <div class="w3-twothird w3-container">
      <span class="w3-text-indigo w3-xlarge">Scores</span>
      <table border="0" width="100%" class="dataTableDisplayTag" style="border-collapse: collapse;">
        <thead>
          <tr>
          <th class="sortableHeader sortable"></th>
        	<th class="sortableHeader sortable" >Min</th>
          <th class="sortableHeader sortable" >Q1</th>
        	<th class="sortableHeader sortable" >Mean</th>
          <th class="sortableHeader sortable" >Median</th>
          <th class="sortableHeader sortable" >Q3</th>
        	<th class="sortableHeader sortable" >Max</th>
          <th class="sortableHeader sortable" >Count</th>
        </tr>
        </thead>
        {% for i in range(6) %}
            {% if i==5 %} <tr valgn="baseline" class="regRow w3-border-top">{% elif i%2==0 %} <tr valgn="baseline" class="altRow"> {% else %} <tr valgn="baseline" class="regRow">{% endif %}
        <td>{{ sess['listOfScores'][i] }}</td>
        {% for j in range(sess[sess['listOfScoresNames'][i]]|length) %}
        <td>{{ sess[sess['listOfScoresNames'][i]][j] }}</td>
        {% endfor %}
        {% endfor %}
        </table>
        <!-- Back button -->
        <form action="" method="post" autocomplete="off">
          <input type="submit" name='back_button' value="Back" style="margin-top:10px">
        </form>
      </div>
  </div>
</div>
<hr>
{% include "footer.html" %}
</body>
</html>
