<!-- questionsGeneral.html -->

<div class="w3-display-container w3-padding-large">
	<label><h5>Leadership:</h5> Is he taking initiatives? Is he self-motivated? Can he inspire others?</label><br>
		<textarea id="commentOneLeadership" name="commentOneLeadership" form="submitForm" rows="5" cols="100" style="margin-bottom: 10px; margin-top: 10px" placeholder="Your comment about his or her sense of leadership" autofocus>{% if sess['commentOneLeadership'] %}{{sess['commentOneLeadership']}}{% endif %}</textarea><br>
		<br>
		<label><b>Leadership Score: </b></label>{% include "slider.html" %}
		<br>
        <input type="submit" name='prev_button' form="submitForm" value="Previous" style="margin-right: 350px">
		<input type="submit" name='submit_button' class="bold-font" form="submitForm" value="Submit">
        </form>
</div>
