<!-- questionsGeneral.html -->

<div class="w3-display-container w3-padding-large">
		<label>Evaluator's information</label><br>
    <input type="text" id="evaluatorName" name="evaluatorName" form="submitForm" placeholder="Your name (John Smith)" {% if sess['evaluatorName'] %}value="{{sess['evaluatorName']}}"{% endif %} style="width:200px" autofocus>
    <input type="text" id="userID" name="userID" form="submitForm" placeholder="Your AmFam ID (jxs007)" {% if sess['userID'] %}value="{{sess['userID']}}"{% endif %} style="width:200px">
    <hr>
    <label>Interviewee's information</label><br>
    <input type="text" id="intervieweeFirstName" name="intervieweeFirstName" form="submitForm" placeholder="First name" {% if sess['intervieweeFirstName'] %} value="{{sess['intervieweeFirstName']}}"{% endif %} style="width:200px">
    <input type="text" id="intervieweeLastName" name="intervieweeLastName" form="submitForm" placeholder="Last Name" {% if sess['intervieweeLastName'] %} value="{{sess['intervieweeLastName']}}"{% endif %} style="width:200px"><br>
		<input type="text" id="intervieweeRole" name="intervieweeRole" form="submitForm" placeholder="Role interviewed for" {% if sess['intervieweeRole'] %} value="{{sess['intervieweeRole']}}"{% endif %} style="width:200px"><br>
    <input type="text" id="interviewDate" name="interviewDate" form="submitForm" placeholder="Date of interview (MM/DD/YYYY)" {% if sess['interviewDate'] %} value="{{sess['interviewDate']}}"{% endif %} style="width:200px"><hr>
    <input type="text" id="commentGeneral" name="commentGeneral" form="submitForm" placeholder="General comment on the interviewee" {% if sess['commentGeneral'] %} value="{{sess['commentGeneral']}}"{% endif %} style="width:400px">
		<br><br>
		<label><b>Overall Score: </b></label>{% include "slider.html" %}
		<br>
    <form name="submitForm" id="submitForm" method="POST" autocomplete="False">
		<input type="submit" name='prev_button' form="submitForm" value="Previous" style="margin-right: 350px" disabled>
		<input type="submit" name='next_button' form="submitForm" value="Next">
	</form>
</div>
