<!-- questionsGeneral.html -->

<div class="w3-display-container w3-padding-large">
  <form action="" method="post" autocomplete="off">
		<label><h5>Leadership:</h5> Is he taking initiatives? Is he self-motivated? Can he inspire others?</label><br>
    <input type="text" id="commentOneLeadership" name="commentOneLeadership" placeholder="Your 1st comment about his sense of leadership" {% if sess['commentOneLeadership'] %} value="{{sess['commentOneLeadership']}}{% endif %}" style="width:400px; margin-bottom: 10px" autofocus><br>
    <input type="text" id="commentTwoLeadership" name="commentTwoLeadership" placeholder="Your 2nd comment about his sense of leadership" {% if sess['commentTwoLeadership'] %} value="{{sess['commentTwoLeadership']}}{% endif %}" style="width:400px; margin-bottom: 10px"><br>
    <input type="text" id="commentThreeLeadership" name="commentThreeLeadership" placeholder="Your 3rd comment about his sense of leadership" {% if sess['commentThreeLeadership'] %} value="{{sess['commentThreeLeadership']}}{% endif %}" style="width:400px; margin-bottom: 10px"><br>
    <input type="text" id="commentFourLeadership" name="commentFourLeadership" placeholder="Your 4th comment about his sense of leadership" {% if sess['commentFourLeadership'] %} value="{{sess['commentFourLeadership']}}{% endif %}" style="width:400px; margin-bottom: 10px"><br>
    <br>
		<label><b>Leadership Score: </b></label>{% include "slider.html" %}
		<br>
    <input type="submit" name='prev_button' value="Previous" style="margin-right: 350px">
		<input type="submit" name='submit_button' value="Submit">
  </form>
</div>
