<!-- questionsGeneral.html -->

<div class="w3-display-container w3-padding-large">
  <form action="" method="post" autocomplete="off">
		<label><h5>Role-related knowledge:</h5> Does this person have what it takes for the job? Could he do the job better than 50% of my coworkers? Does he have a good degree? Does he have good previous experiences (jobs, projects, school work, thesis)?</label><br>
    <input type="text" id="commentOne" name="commentOne" placeholder="Your 1st comment about his role-related knowledge" style="width:400px; margin-bottom: 10px"><br>
    <input type="text" id="commentTwo" name="commentTwo" placeholder="Your 2nd comment about his role-related knowledge" style="width:400px; margin-bottom: 10px"><br>
    <input type="text" id="commentThree" name="commentThree" placeholder="Your 3rd comment about his role-related knowledge" style="width:400px; margin-bottom: 10px"><br>
    <input type="text" id="commentFour" name="commentFour" placeholder="Your 4th comment about his role-related knowledge" style="width:400px; margin-bottom: 10px"><br>
    <br>
		<label><b>Coolness Score: </b></label>{% include "slider.html" %}
		<br>
    <input type="submit" name='prev_button' value="Previous" style="margin-right: 350px">
		<input type="submit" name='next_button' value="Next">
  </form>
</div>
