<!-- questionsGeneral.html -->
{% from "_form_error_helper.html" import render_field_errors %}
<div class="w3-display-container w3-padding-large">
	<font class="w3-text-red w3-small">
		{{ render_field_errors(form.evaluatorName) }}
		{{ render_field_errors(form.userID) }}
		{{ render_field_errors(form.intervieweeFirstName) }}
		{{ render_field_errors(form.intervieweeLastName) }}
		{{ render_field_errors(form.intervieweeRole) }}
		{{ render_field_errors(form.interviewDate) }}
	</font>
		<label>Evaluator's information</label><br>
    {{ form.evaluatorName(value=sess['evaluatorName'], placeholder="Your name (John Smith)", style="width:200px", form="submitForm")|safe }}
    {{ form.userID(value=sess['userID'], placeholder="Your AmFam ID (jxs007)", style="width:200px", form="submitForm")|safe }}<hr>
	<label>Interviewee's information</label><br>
	{{ form.intervieweeFirstName(value=sess['intervieweeFirstName'], placeholder="First name", style="width:200px", form="submitForm")|safe }}
	{{ form.intervieweeLastName(value=sess['intervieweeLastName'], placeholder="Last name", style="width:200px", form="submitForm")|safe }}<br>
	{{ form.intervieweeRole(value=sess['intervieweeRole'], placeholder="Role interviewed for", style="width:200px", form="submitForm")|safe }}<br>
	{{ form.interviewDate(value=sess['interviewDate'], placeholder="Date of interview (MM/DD/YYYY)", style="width:200px", form="submitForm")|safe }}<hr>
	<input type="text" id="commentGeneral" name="commentGeneral" form="submitForm" placeholder="General comment on the interviewee" {% if sess['commentGeneral'] %} value="{{sess['commentGeneral']}}"{% endif %} style="width:400px">
		<br><br>
		<label><b>Overall Score: </b></label>{% include "slider.html" %}
		<br>
		<input type="submit" name='prev_button' form="submitForm" value="Previous" style="margin-right: 350px" disabled>
		<input type="submit" name='next_button' form="submitForm" value="Next">
	</form>
</div>
