<!-- Scripts -->
<script type="text/javascript">

<!-- Get value of slider -->
function showValue(newValue)
{
  document.getElementById("mySliderValue").innerHTML=newValue;
}

<!-- Get meaning, in English, of sliders value -->
function getMeaningValue(newValue)
{
	if (newValue < 2){
		valueMeaning = "1: I don't want to see this person again"
	}	else if (newValue < 3){
		valueMeaning = '2: This person is a 50-50 bet'
	} else if (newValue < 4){
		valueMeaning = "3: I'm okay with this person having an offer, but someone else should like him a lot"
	} else if (newValue == 4){
		valueMeaning = "4: I want to hire this person and whoever does not can expect to hear from me"
	}
	document.getElementById("scoreMeaningLabel").innerHTML=valueMeaning;
}

<!-- Utility used in add_element() -->
function addHidden(theForm, key, value) {
    // Create a hidden input element, and append it to the form:
    var input = document.createElement('input');
    input.type = 'hidden';
    input.name = key; // 'the key/name of the attribute/field that is sent to the server
    input.value = value;
    theForm.appendChild(input);
}

<!-- Used to add progress_count in a form just before submitting it -->
function add_element(progress_count){
	var theForm = document.forms['submitForm'];
	addHidden(theForm, 'progress_count', progress_count);
}

</script>
